
@using Suhoh.Model
@model ViewModel

@Html.DevExpress().CallbackPanel(
    cbSettings =>
    {
        cbSettings.Name = "callbackLeftPanelLayerListTV";
        cbSettings.CallbackRouteValues = new { Controller = "Home", Action = "CallbackLeftPanelLayerListTV" };
        cbSettings.ClientSideEvents.BeginCallback = "callbackLeftPanelLayerListTV_OnBeginCallback";
        cbSettings.ClientSideEvents.EndCallback = "callbackLeftPanelLayerListTV_OnEndCallback";

        cbSettings.SetContent(() =>
        {
            ViewContext.Writer.Write("<table style='margin-top:20px'>");
            foreach (var m in Model.AppConfig.MapServices)
            {
                Html.DevExpress().CheckBox(settings =>
                {
                    settings.Name = m.Alias;
                    settings.Checked = m.IsVisible;
                    settings.ControlStyle.CssClass = "";
                    settings.Properties.ClientSideEvents.CheckedChanged = "";
                }).GetHtml();

                Html.DevExpress().Label(labelSettings =>
                {
                    labelSettings.Name = m.Alias + "_Label";
                    labelSettings.Text = m.Alias;
                    labelSettings.ControlStyle.CssClass = "";
                }).GetHtml();

                Html.DevExpress().Button(settings =>
                {
                    settings.Name = m.Alias + "_Zoom";
                    settings.Text = "";
                    settings.UseSubmitBehavior = false;
                    settings.ClientSideEvents.Click = "";
                    settings.ControlStyle.CssClass = "";
                    settings.Height = 20;
                    settings.Width = 20;
                    settings.Images.Image.IconID = IconID.HybriddemoiconsBottompanelHybriddemoZoominSvgGray16x16;
                }).GetHtml();

                Html.DevExpress().Button(settings =>
                {
                    settings.Name = m.Alias + "_Delete";
                    settings.Text = "";
                    settings.UseSubmitBehavior = false;
                    settings.ClientSideEvents.Click = "";
                    settings.ControlStyle.CssClass = "";
                    settings.Images.Image.IconID = IconID.HybriddemoiconsBottompanelHybriddemoDeleteSvgWhite16x16;
                }).GetHtml();
            };
            ViewContext.Writer.Write("</table>");
        });
    }).GetHtml()


