
@using Suhoh.Model
@model ViewModel

@Html.DevExpress().CallbackPanel(
    cbSsettings =>
    {
        cbSsettings.Name = "callbackColorPickers";
        cbSsettings.CallbackRouteValues = new { Controller = "Home", Action = "CallbackColorPickers" };
        cbSsettings.ClientSideEvents.BeginCallback = "callbackColorPickers_OnBeginCallback";
        cbSsettings.ClientSideEvents.EndCallback = "callbackColorPickers_OnEndCallback";
        cbSsettings.SetContent(() =>
        {
            if (Model.YColNames.Length > 0)
            {
                string[] cols = Model.YColNames.Split(';');

                ViewContext.Writer.Write("<Label class='colorPickerHeading'>Color</Label>");

                ViewContext.Writer.Write("<div id='divColorPicker' class='divColorPicker'>");
                for (int i = 0; i < cols.Length; i++)
                {
                    ViewContext.Writer.Write("<div id='divColorPickerText' class='divColorPickerText'>");
                    ViewContext.Writer.Write(cols[i]);
                    ViewContext.Writer.Write("</div>");

                    ViewContext.Writer.Write("<div id='divColorPickerDropDown' class='divColorPickerDropDown'>");
                    @Html.DevExpress().ColorEdit(settings =>
                    {
                        settings.Name = "ceBarColorPicker" + i.ToString();
                        settings.Width = 120;
                        settings.Color = System.Drawing.ColorTranslator.FromHtml(Model.BarColors[i]);
                        settings.Properties.EnableCustomColors = true;
                        settings.Properties.ClientSideEvents.ColorChanged = "ceColorPickerClicked";
                    }).GetHtml();
                    ViewContext.Writer.Write("</div>");
                }
                ViewContext.Writer.Write("</div>");
            }
        });
    }).GetHtml()
