
@using Suhoh.Model
@model ViewModel

@Html.DevExpress().CallbackPanel(
    cbSettings =>
    {
        cbSettings.Name = "callbackLeftPanelLayerListTV";
        cbSettings.CallbackRouteValues = new { Controller = "Home", Action = "CallbackLeftPanelLayerListTV" };
        cbSettings.ClientSideEvents.BeginCallback = "callbackLeftPanelLayerListTV_OnBeginCallback";
        cbSettings.ClientSideEvents.EndCallback = "callbackLeftPanelLayerListTV_OnEndCallback";

        cbSettings.SetContent(() =>
        {
            foreach (var m in Model.AppConfig.MapServices)
            {
                ViewContext.Writer.Write("<table>");
                ViewContext.Writer.Write("<tr>");

                Html.DevExpress().CheckBox(settings =>
                {
                    ViewContext.Writer.Write("<th>");
                    settings.Name = m.Alias;
                    settings.Checked = m.IsVisible;
                    settings.ControlStyle.CssClass = "chkMaplayer";
                    settings.Properties.ClientSideEvents.CheckedChanged = "mapLayerCheckedChanged";
                    ViewContext.Writer.Write("</th>");
                }).GetHtml();

                Html.DevExpress().Label(labelSettings =>
                {
                    ViewContext.Writer.Write("<th>");
                    labelSettings.Name = m.Alias + "_Label";
                    labelSettings.Text = m.Alias;
                    labelSettings.ControlStyle.CssClass = "labelMapLayer";
                    ViewContext.Writer.Write("</th>");
                }).GetHtml();

                Html.DevExpress().Button(settings =>
                {
                    ViewContext.Writer.Write("<th>");
                    settings.Name = m.Alias + "_Zoom";
                    settings.Text = "";
                    settings.UseSubmitBehavior = false;
                    settings.ClientSideEvents.Click = "mapLayerZoomClicked";
                    settings.ControlStyle.CssClass = "btnMapLayer";
                    settings.RenderMode = ButtonRenderMode.Link;
                    settings.Images.Image.IconID = IconID.ZoomZoomin16x16office2013;
                    settings.Height = 15;
                    settings.Width = 15;
                    settings.ControlStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Middle;
                    ViewContext.Writer.Write("</th>");
                }).GetHtml();

                if (m.Owner.ToUpper() != "SYSTEM")
                {
                    Html.DevExpress().Button(settings =>
                    {
                        ViewContext.Writer.Write("<th>");
                        settings.Name = m.Alias + "_Delete";
                        settings.Text = "";
                        settings.UseSubmitBehavior = false;
                        settings.ClientSideEvents.Click = "mapLayerDeleteClicked";
                        settings.ControlStyle.CssClass = "btnMapLayer";
                        settings.RenderMode = ButtonRenderMode.Link;
                        settings.Images.Image.Url = "~/Content/Images/DX/delete.svg";
                        settings.Width = 15;
                        settings.Height = 15;
                        settings.ControlStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Middle;
                        ViewContext.Writer.Write("</th>");
                    }).GetHtml();
                }

                ViewContext.Writer.Write("</tr>");
                ViewContext.Writer.Write("</table>");
            };
        });
    }).GetHtml()


