@using Suhoh.Model
@model ViewModel

@{
    ViewBag.Title = "D3Graph";
}

@*<h2>D3Graph</h2>*@
<div id="pieChart"></div>
<div class="divChartSettingButton">
    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "btnChartSetting";
        settings.Text = "";
        settings.Width = 50;
        settings.UseSubmitBehavior = false;
        settings.ToolTip = "Setting";
        settings.ControlStyle.CssClass = "btnChartSetting";
        settings.ClientSideEvents.Click = "panelSlideChartSetting";

        settings.Images.Image.IconID = IconID.IconbuilderActionsSettingsSvgWhite16x16;

    }).GetHtml()
</div>

@* This file will contain events that relates to D3
    Specific functions will be stored under Scripts/D3 folder with separate file names
    - createScatterPlot
    - createBar, createPie, etc... *@

<script type="text/javascript">

    drawPie('pieChart', _pieData, 400, 400, 180);

</script>

