@using Suhoh.Model
@model ViewModel

@{
    ViewBag.Title = "D3Graph";
}

@*<h2>D3Graph</h2>*@
<div id="pieChart" style="position:relative;">
    <div id="chartTitle" class="chartTitle">Applicant VS Quantity_m3</div>
    <div class="divChartMaximizeButton">
        <button type="button" class="btnChartMaximize" title="Maximize"></button>
    </div>
    <div class="divChartLegendButton">
        <button type="button" class="btnChartLegend" title="Legend" onclick="showHideLegend()"></button>
    </div>
    <div class="divChartPropertyButton">
        <button type="button" class="btnChartProperty" title="Property" onclick="showPropertyPopup()"></button>
    </div>
    <div class="divChartSettingButton">
        <button type="button" class="btnChartClose" title="Close"></button>
    </div>
</div>