@using Suhoh.Model
@model ViewModel

@*Title*@
<div id="divGridviewTitle" class="divTitle">
    <table>
        <tr>
            <th style="float: left; margin-left: 2px">Grid Title</th>
        </tr>
        <tr>
            <th style="float: left; margin-top: 5px">
                @Html.DevExpress().TextBoxFor(model => model.GridviewTitle,
                          settings =>
                          {
                              settings.Name = "tbPropertyMapTitle";
                              settings.Width = 240;
                              settings.Text = "Grid Title";  
                              settings.ControlStyle.CssClass = "";
                              settings.Properties.ClientSideEvents.KeyUp = "";
                          }
                          ).GetHtml()
            </th>
        </tr>
    </table>
</div>
