
@using Suhoh.Model
@model ViewModel


<div>
    @Html.DevExpress().RadioButtonListFor(model => model.RadioSelectDataSource,
        settings =>
        {
            settings.Name = "radioSelectDataSource";
            settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
            settings.Properties.Items.Add("All", 0);
            settings.Properties.Items.Add("Shape (.zip)", 1);
            settings.Properties.Items.Add("Excel", 2);
            settings.Properties.Items.Add("CSV", 3);
            settings.Width = 240;
            settings.Height = 28;
            settings.ControlStyle.CssClass = "radioSselectDataSource";
            settings.ControlStyle.Border.BorderStyle = System.Web.UI.WebControls.BorderStyle.None;
            settings.Properties.ValueType = typeof(Int32);
            settings.Properties.ClientSideEvents.SelectedIndexChanged = "";
        }).GetHtml()
</div>

@Html.DevExpress().Label(settings => {
    settings.Name = "labelExcelFilename";
    settings.Text = "Filename";
    settings.ControlStyle.CssClass = "excelFilename label";
    settings.Properties.EnableClientSideAPI = true;
}).GetHtml()

<div>
    @Html.DevExpress().TextBox(settings =>
    {
        settings.Name = "tbSourceFilename";
        settings.Width = 216;
        settings.ReadOnly = true;
        settings.ControlStyle.CssClass = "excelFilename textBox";
        settings.Properties.NullText = "Select Excel file.";
        settings.Text = "";
    }).GetHtml()

    @Html.DevExpress().Button(
        settings =>
        {
            settings.Name = "btnloadExcel";
            settings.ToolTip = "Load Excel";
            settings.Text = "";
            settings.ControlStyle.CssClass = "excelFilename loadButton";
            settings.ClientSideEvents.Click = "loadDataSource"; // load shape, excel and CSV
        }
    ).GetHtml()
</div>