@using Suhoh.Model
@model ViewModel

@{
    ViewBag.Title = "OpenLayerMap";
}

<style>
    .olMap {
        opacity: 1;
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        position: static;
        z-index: 1;
        /*position: fixed;
    top: 47px;
    bottom: 0px;
    left: 0px;
    z-index: 1;*/
    }
</style>

<head>
</head>
<body>
    <div style="width: 100%;height: 100%;position: relative;">
        <div id="map" class="olMap">
        </div>
    </div>
</body>
<script>
    var esriStreets = 'http://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer';
    var _scaleLine = new ol.control.ScaleLine();
    var layerStreets = new ol.layer.Tile({
        zIndex: 1000,
        visible: true,
        name: 'layerStreets',
        source: new ol.source.XYZ({
            title: 'layerStreets',
            url: esriStreets + '/tile/{z}/{y}/{x}',
            crossOrigin: "Anonymous"
        })
    });

    var _map;

    _map = new ol.Map({
        target: 'map',
        controls: ol.control.defaults({
            attributionOptions: {
                collapsible: false
            }
        }).extend([
            _scaleLine
        ]),
        layers: [layerStreets],
        logo: false,
        view: new ol.View({
            center: ol.proj.fromLonLat([-115.979293, 55.528787]),
            zoom: 4
        })
    });

</script>

