@using Suhoh.Model
@model ViewModel

@*@Html.Raw(File.ReadAllText(Server.MapPath(@"~/App_Data/Overview.html")))*@

@*<h1>Hello world</h1>*@


@Html.DevExpress().CallbackPanel(callbackSettings =>
{
    callbackSettings.Name = "RightPanelPartial";
    callbackSettings.CallbackRouteValues = new { Controller = "Home", Action = "RightPanelPartial" };
    callbackSettings.ClientSideEvents.BeginCallback = "callbackRightPanelPartial_OnBeginCallback";
    callbackSettings.ClientSideEvents.EndCallback = "callbackRightPanelPartial_OnEndCallback";
    callbackSettings.SetContent(() =>
    {
        Html.DevExpress().Splitter(settings =>
        {
            settings.Name = "splitterMain";
            settings.ShowCollapseBackwardButton = true;
            settings.ShowCollapseForwardButton = true;
            settings.ShowSeparatorImage = true;
            settings.Orientation = Orientation.Vertical;
            settings.AllowResize = true;
            settings.SeparatorVisible = true;
            settings.FullscreenMode = true;
            settings.Panes.Add(panes =>
            {
                panes.Panes.Add(mapPane =>
                {
                    mapPane.Name = "paneMap";
                    mapPane.SetContent(() =>
                    {
                        Html.RenderPartial("OpenLayerMap", Model);
                    });

                });
                panes.Panes.Add(graphPane =>
                {
                    graphPane.Name = "paneGraph";
                    graphPane.SetContent(() =>
                    {
                        Html.RenderPartial("D3Graph", Model);
                    });
                });
            });
            settings.Panes.Add(gridviewPane =>
            {
                gridviewPane.Name = "paneGridview";
                gridviewPane.Size = Unit.Percentage(35);
                gridviewPane.SetContent(() =>
                {         // can't add extra div as part of Gridview. Had to add here
                    ViewContext.Writer.Write("<div class='divGridviewMaximize'>");
                    ViewContext.Writer.Write("<button id='btnGridviewMaximize' type='button' class='btnGridviewMaximize' title='Maximize'></button>");
                    ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("<div class='divGridviewLegend'>");
                    ViewContext.Writer.Write("<button id='btnGridviewLegend' type='button' class='btnGridviewLegend' title='Legend' onclick=''>L</button>");
                    ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("<div class='divGridviewProperty'>");
                    ViewContext.Writer.Write("<button id='btnGridviewProperty' type='button' class='btnGridviewProperty' title='Property' onclick=''>P</button>");
                    ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("<div class='divGridviewSetting'>");
                    ViewContext.Writer.Write("<button id='btnGridviewClose' type='button' class='btnGridviewClose' title='Close' onclick='addNewPane(\"gridview\")'>C</button>");
                    ViewContext.Writer.Write("</div>");
                    Html.RenderAction("DxGridview", Model);
                });
            });
            settings.ClientSideEvents.PaneResized = "splitterMainResized";
        }).GetHtml();
    });
}).GetHtml()

