@using Suhoh.Model
@model ViewModel

<div style="margin-top: 10px">
    <table>
        <tr>
            <th style="float: left; margin-left: 2px">Upper Left Corner</th>
        </tr>
        <tr>
            <th class="LeftPanelSearchSEC">SEC</th>
            <th class="LeftPanelSearchTWP">TWP</th>
            <th class="LeftPanelSearchRGE">RGE</th>
            <th class="LeftPanelSearchMER">MER</th>
        </tr>
        <tr>
            <th class="cbLeftPanelSearchSEC">
                @Html.DevExpress().ComboBoxFor(model => model.cbLeftPanelSearchSEC,
                  settings =>
                  {
                      settings.Name = "cbLeftPanelSearchSEC";
                      settings.Width = 50;
                      settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                      settings.Properties.DropDownWidth = 49;
                      settings.Properties.ClientSideEvents.SelectedIndexChanged = "cbLeftPanelSearchSECChanged";
                  }).BindList(DataEngine.BasemapList()).GetHtml()
            </th>
            <th class="cbLeftPanelSearchTWP">
                @Html.DevExpress().ComboBoxFor(model => model.cbLeftPanelSearchTWP,
                  settings =>
                  {
                      settings.Name = "cbLeftPanelSearchTWP";
                      settings.Width = 50;
                      settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                      settings.Properties.DropDownWidth = 49;
                      settings.Properties.ClientSideEvents.SelectedIndexChanged = "cbLeftPanelSearchTWPChanged";
                  }).BindList(DataEngine.BasemapList()).GetHtml()
            </th>
            <th class="cbLeftPanelSearchRGE">
                @Html.DevExpress().ComboBoxFor(model => model.cbLeftPanelSearchRGE,
                  settings =>
                  {
                      settings.Name = "cbLeftPanelSearchRGE";
                      settings.Width = 50;
                      settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                      settings.Properties.DropDownWidth = 49;
                      settings.Properties.ClientSideEvents.SelectedIndexChanged = "cbLeftPanelSearchRGEChanged";
                  }).BindList(DataEngine.BasemapList()).GetHtml()
            </th>
            <th class="cbLeftPanelSearchMER">
                @Html.DevExpress().ComboBoxFor(model => model.cbLeftPanelSearchMER,
                  settings =>
                  {
                      settings.Name = "cbLeftPanelSearchMER";
                      settings.Width = 50;
                      settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                      settings.Properties.DropDownWidth = 49;
                      settings.Properties.ClientSideEvents.SelectedIndexChanged = "cbLeftPanelSearchMERChanged";
                  }).BindList(DataEngine.BasemapList()).GetHtml()
            </th>
        </tr>
    </table>
</div>