/*#xColumnDropDown.dxeButtonEditSys.dxeButtonEdit_Office365 {
    height: 50px !important;
}*/

.chartTitle {
    font-weight: bold;
    top: 5px;
    left: 10px;
    position: absolute;
}

.divChartMaximizeButton {
    opacity: 1;
    position: absolute;
    top: 4px;
    right: 91px;
    z-index: 100;
    /*background-color: yellow;*/
}
.btnChartMaximize {
    background-color: rgba(0,60,136,.5) !important;
    /*color: blue !important;*/
    font-weight: bold !important;
    border: none !important;
    box-shadow: 0 0 5px 2px white !important;
    border-radius: 2px;
    padding: 0px !important;
    width: 22px;
    height: 22px;
    background: url('../Images/Suhoh/Maximize.svg') no-repeat center;
    background-size: 15px 15px;
}
    .btnChartMaximize:hover {
        background-color: rgba(0,60,136,.7) !important;
    }

.divChartLegendButton {
    opacity: 1;
    position: absolute;
    top: 4px;
    right: 64px;
    z-index: 100;
    /*background-color: yellow;*/
}
.btnChartLegend {
    background-color: rgba(0,60,136,.5) !important;
    color: white !important;
    font-weight: bold !important;
    border: none !important;
    box-shadow: 0 0 5px 2px white !important;
    border-radius: 2px;
    padding: 0px !important;
    width: 22px;
    height: 22px;
    background: url('../Images/Suhoh/Legend.svg') no-repeat center;
    background-size: 18px 18px;
}
    .btnChartLegend:hover {
        background-color: rgba(0,60,136,.7) !important;
    }

.divChartPropertyButton {
    opacity: 1;
    position: absolute;
    top: 4px;
    right: 37px;
    z-index: 100;
    /*background-color: yellow;*/
}
.btnChartProperty {
    background-color: rgba(0,60,136,.5) !important;
    color: white !important;
    font-weight: bold !important;
    border: none !important;
    box-shadow: 0 0 5px 2px white !important;
    border-radius: 2px;
    padding: 0px !important;
    width: 22px;
    height: 22px;
    background: url('../Images/DX/settings.svg') no-repeat center;
    background-size: 14px 14px;
}
    .btnChartProperty:hover {
        background-color: rgba(0,60,136,.7) !important;
    }
.divChartSettingButton {
    opacity: 1;
    position: absolute;
    top: 4px;
    right: 10px;
    z-index: 100;
    /*background-color: yellow;*/
}
.btnChartClose {
    background-color: rgba(0,60,136,.5) !important;
    color: white !important;
    font-weight: bold !important;
    border: none !important;
    box-shadow: 0 0 5px 2px white !important;
    border-radius: 2px;
    padding: 0px !important;
    width: 22px;
    height: 22px;
    background: url('../Images/DX/cancel.svg') no-repeat center;
    background-size: 12px 12px;
}
    .btnChartClose:hover {
        background-color: rgba(0,60,136,.7) !important;
    }

/*Property Popup*/
.thTitleHeading1 {
    font-weight:bold;
    margin-left: 2px;
    float:left;
}
.thLabelHeading1 {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 2px;
    float: left;
}
.thPercentageChkBox {
    float: left;
}
.thYValueChkBox {
    float: left;
    margin-left: 10px;
}
.thXValueChkBox {
    float: left;
    margin-left: 10px;
}
.thXYColumnHeading1 {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 2px;
    float: left;
}
.thXColumnDropDownLabel {
    font-weight: normal;
    float: left;
    margin-top: 10px;
    margin-left: 2px;
}
.thXColumnDropDown {
    height: 40px;
}
.thYColumnDropDownLabel {
    font-weight: normal;
    float: left;
    margin-left: 2px;
}

.pieTooltip {
    /*width: 100%;
    height: 50px;*/
    background: white;
    color: black;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 8px;
    opacity: 0.7;
}