/*#xColumnDropDown.dxeButtonEditSys.dxeButtonEdit_Office365 {
    height: 50px !important;
}*/

.chartTitle {
    font-weight: bold;
    top: 5px;
    left: 10px;
    position: absolute;
}

.divChartMaximizeButton {
    float:left;
    opacity: 1;
    position: absolute;
    top: 4px;
    right: 91px;
    z-index: 1;
}
.btnChartMaximize {
    background-color: rgba(0,60,136,.5) !important;
    font-weight: bold !important;
    border: none;
    box-shadow: 0 0 5px 2px white !important;
    border-radius: 2px;
    padding: 0px !important;
    width: 22px;
    height: 22px;
    background: url('../Images/Suhoh/Maximize.svg') no-repeat center;
    background-size: 15px 15px;
}
    .btnChartMaximize:hover {
        background-color: rgba(0,60,136,.7) !important;
    }

.divChartLegendButton {
    opacity: 1;
    position: absolute;
    top: 4px;
    right: 64px;
    z-index: 100;
}
.btnChartLegend {
    background-color: rgba(0,60,136,.5) !important;
    /*color: white !important;*/
    font-weight: bold !important;
    border: none;
    box-shadow: 0 0 5px 2px white !important;
    border-radius: 2px;
    padding: 0px !important;
    width: 22px;
    height: 22px;
    background: url('../Images/Suhoh/Legend.svg') no-repeat center;
    background-size: 18px 18px;
}
    .btnChartLegend:hover {
        background-color: rgba(0,60,136,.7) !important;
    }

.divChartPropertyButton {
    opacity: 1;
    position: absolute;
    top: 4px;
    right: 37px;
    z-index: 100;
}
.btnChartProperty {
    background-color: rgba(0,60,136,.5) !important;
    /*color: white !important;*/
    font-weight: bold !important;
    border: none;
    box-shadow: 0 0 5px 2px white !important;
    border-radius: 2px;
    padding: 0px !important;
    width: 22px;
    height: 22px;
    background: url('../Images/DX/settings.svg') no-repeat center;
    background-size: 14px 14px;
}
    .btnChartProperty:hover {
        background-color: rgba(0,60,136,.7) !important;
    }
.divChartSettingButton {
    opacity: 1;
    position: absolute;
    top: 4px;
    right: 10px;
    z-index: 100;
}
.btnChartClose {
    background-color: rgba(0,60,136,.5) !important;
    /*color: white !important;*/
    font-weight: bold !important;
    border: none;
    box-shadow: 0 0 5px 2px white !important;
    border-radius: 2px;
    padding: 0px !important;
    width: 22px;
    height: 22px;
    background: url('../Images/DX/cancel.svg') no-repeat center;
    background-size: 12px 12px;
}
    .btnChartClose:hover {
        background-color: rgba(0,60,136,.7) !important;
    }

/*Property Popup Pie Chart*/
.thTitleHeading1 {
    font-weight:bold;
    margin-left: 2px;
    margin-bottom: 5px;
    float:left;
}
.thLabelHeading1 {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 2px;
    float: left;
}
.thPercentageChkBox {
    float: left;
}
.thYValueChkBox {
    float: left;
    margin-left: 10px;
}
.thXValueChkBox {
    float: left;
    margin-left: 10px;
}
.thXYColumnHeading1 {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 2px;
    float: left;
}
.thXColumnDropDownLabel {
    font-weight: normal;
    float: left;
    margin-top: 10px;
    margin-left: 2px;
}
.thXColumnDropDown {
    height: 40px;
}
.thYColumnDropDownLabel {
    font-weight: normal;
    float: left;
    margin-left: 2px;
}
/*Property Popup Pie Chart End*/

/*Property Popup Bar Chart*/
.thBarTitleHeading1 {
    font-weight: bold;
    margin-left: 2px;
    margin-bottom: 5px;
    float: left;
}
.thBarLabelHeading1 {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 2px;
    float: left;
}
.thBarXValueChkBox {
    float: left;
}
.thBarYValueChkBox {
    float: left;
    margin-left: 10px;
}
.thBarXYColumnHeading1 {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 2px;
    float: left;
}
.thBarXColumnDropDownLabel {
    font-weight: normal;
    float: left;
    margin-top: 10px;
    margin-left: 2px;
}

.thBarXColumnDropDown {
    height: 40px;
}

.thBarYColumnDropDownLabel {
    font-weight: normal;
    float: left;
    margin-left: 2px;
}
.thBarOrientationHeading1 {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 2px;
    float: left;
}

.barColorPickerHeading {
    font-weight: bold;
    margin-left: 2px;
    margin-bottom: 5px;
    float: left;
}

.divBarColorPicker {
    float: left;
}

.divBarColorPickerText {
    float: left;
    margin-top: 4px;
    width: 120px;
}

.divBarColorPickerDropDown {
    float: left;
}
/*Property Popup Bar Chart End*/

/*Property Popup Line Chart*/
.thLineTitleHeading1 {
    font-weight: bold;
    margin-left: 2px;
    margin-bottom: 5px;
    float: left;
}

.thLineLabelHeading1 {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 2px;
    float: left;
}

.thLineXValueChkBox {
    float: left;
}

.thLineYValueChkBox {
    float: left;
    margin-left: 10px;
}

.thLineXYColumnHeading1 {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 2px;
    float: left;
}

.thLineXColumnDropDownLabel {
    font-weight: normal;
    float: left;
    margin-top: 10px;
    margin-left: 2px;
}

.thLineXColumnDropDown {
    height: 40px;
}

.thLineYColumnDropDownLabel {
    font-weight: normal;
    float: left;
    margin-left: 2px;
}

.thLineShapeHeading1 {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 2px;
    float: left;
}

.lineColorPickerHeading {
    font-weight: bold;
    margin-left: 2px;
    margin-bottom: 5px;
    float: left;
}

.divLineColorPicker {
    float: left;
}

.divLineColorPickerText {
    float: left;
    margin-top: 4px;
    width: 120px;
}

.divLineColorPickerDropDown {
    float: left;
}
/*Property Popup Line Chart End*/

/*Line Chart ToolTip*/
.axisLineLabelTooltip {
    height: 12px;
    line-height: 1;
    font-weight: bold;
    padding: 8px;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    border-radius: 3px;
    text-align: center;
}

/*Line Chart ToolTip End*/

/*Charts ToolTip*/
.pieTooltip {
    background: white;
    color: black;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 8px;
    opacity: 0.7;
}
.bar:hover {
    opacity: 0.5;
}

.barTooltip {
    /*width: 100px;*/
    height: 24px;
    line-height: 1;
    font-weight: bold;
    padding: 8px;
    background: rgba(0, 0, 0, 1);
    color: #ffffff;
    border-radius: 3px;
    text-align: center;
}

.lineTooltip {
    /*width: 100px;*/
    height: 24px;
    line-height: 1;
    font-weight: bold;
    padding: 8px;
    background: rgba(0, 0, 0, 1);
    color: #ffffff;
    border-radius: 3px;
    text-align: center;
}

.axisLabelTooltip {
    height: 12px;
    line-height: 1;
    font-weight: bold;
    padding: 8px;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    border-radius: 3px;
    text-align: center;
}

.barTextLabel {
    line-height: 1;
    font-weight: bold;
}

.lineTextLabel {
    line-height: 1;
    font-weight: bold;
}

/*Charts ToolTip End*/
.pieTitle {
    float: left;
    font-size: 12px;
}

.thColorRampHeading {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 2px;
    float: left;
}

