.divChartMaximizeButton {
    opacity: 1;
    position: fixed;
    top: 62px;
    right: 91px;
    z-index: 100;
    /*background-color: yellow;*/
}
.btnChartMaximize {
    /*background-color: rgba(0,60,136,.5) !important;*/
    color: white !important;
    font-weight: bold !important;
    border: none !important;
    box-shadow: 0 0 5px 2px white !important;
    border-radius: 2px;
    padding: 0px !important;
    width: 22px;
    height: 22px;
    background: url('../Images/Suhoh/Maximize.svg') no-repeat center;
}
    /*.btnChartMaximize:hover {
        background-color: rgba(0,60,136,.7) !important;
    }*/

.divChartLegendButton {
    opacity: 1;
    position: fixed;
    top: 62px;
    right: 64px;
    z-index: 100;
    /*background-color: yellow;*/
}
.btnChartLegend {
    background-color: rgba(0,60,136,.5) !important;
    color: white !important;
    font-weight: bold !important;
    border: none !important;
    box-shadow: 0 0 5px 2px white !important;
    border-radius: 2px;
    padding: 0px !important;
    width: 22px;
    height: 22px;
    background: url('../Images/Suhoh/Legend.svg') no-repeat center;
}
    .btnChartLegend:hover {
        background-color: rgba(0,60,136,.7) !important;
    }

.divChartPropertyButton {
    opacity: 1;
    position: fixed;
    top: 62px;
    right: 37px;
    z-index: 100;
    /*background-color: yellow;*/
}
.btnChartProperty {
    background-color: rgba(0,60,136,.5) !important;
    color: white !important;
    font-weight: bold !important;
    border: none !important;
    box-shadow: 0 0 5px 2px white !important;
    border-radius: 2px;
    padding: 0px !important;
    width: 22px;
    height: 22px;
    background: url('../Images/Suhoh/Property.svg') no-repeat center;
}
    .btnChartProperty:hover {
        background-color: rgba(0,60,136,.7) !important;
    }
.divChartSettingButton {
    opacity: 1;
    position: fixed;
    top: 62px;
    right: 10px;
    z-index: 100;
    /*background-color: yellow;*/
}
.btnChartClose {
    background-color: rgba(0,60,136,.5) !important;
    color: white !important;
    font-weight: bold !important;
    border: none !important;
    box-shadow: 0 0 5px 2px white !important;
    border-radius: 2px;
    padding: 0px !important;
    width: 22px;
    height: 22px;
}
    .btnChartClose:hover {
        background-color: rgba(0,60,136,.7) !important;
    }

/*.maxFill {
    stroke: #71398F;
    stroke-width: 50;
}
    .maxFill:hover {
        fill: red;
    }*/