
.dxGridview {
    font:12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif
}

.dxgvDataRow_Office365 td.dxgv {
    /*top right bottom left*/
    padding: 3px 2px 3px 2px !important;
}

/*Doesn't seem to be working*/
.dxgvHeader_Office365.gridSettings1 {
    background: #FF00FF !important;
}
.dxgvHeader_Office365.gridSettings1 table {
    color: white !important;
}