
/*Alberta Township System Search*/
.leftPanelATSLabel {
    float: left;
    margin-left: 10px;
    font-weight: normal;
}

.leftPanelSearchSEC {
    font-weight: normal;
    float: left;
    margin-top: 5px;
    margin-left: 44px;
}

.leftPanelSearchTWP {
    font-weight: normal;
    float: left;
    margin-top: 5px;
    margin-left: 37px;
}

.leftPanelSearchRGE {
    font-weight: normal;
    float: left;
    margin-top: 5px;
    margin-left: 37px;
}

.chkLeftPanelATS {
    float: left;
    margin-left: 5px;
}

.cbLeftPanelSearchSEC {
    float: left;
    margin-left: 10px;
}

.cbLeftPanelSearchTWP {
    float: left;
    margin-left: 10px;
}

.cbLeftPanelSearchRGE {
    float: left;
    margin-left: 10px;
}

.cbLeftPanelSearchMER {
    float: left;
    margin-left: 10px;
}

/*Attribute Search*/
.leftPanelAttributeLabel {
    float: left;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-weight: normal;
}

.chkLeftPanelAttributeSearch {
    float: left;
    margin-left: 5px;
}

.cbLeftPanelAttributeSearch1 {
    float: left;
    margin-left: 10px;
}

.cbLeftPanelAttributeSearch2 {
    float: left;
    margin-top: 5px;
    margin-left: 35px;
}

.cbLeftPanelAttributeSearch3 {
    float: left;
    margin-top: 5px;
    margin-left: 35px;
}

.btnLeftPanelAttributeSearch {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

/*Panel Settings*/
.leftPanelPanelsFloatLeft {
    float: left;
    margin-left: 10px;
}

.leftPanelPanels3 {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.btnChangeLayout {
    margin-top: 8px;
    margin-left: 70px;
    margin-bottom: 10px;
}

/*Select Data Source*/
.excelFilename {
    margin-left: 10px;
}

    .excelFilename.label {
        font-weight: normal;
        margin-top: 6px;
    }

    .excelFilename.textBox {
        float: left;
        margin-top: 3px;
    }

    .excelFilename.loadButton {
        float: left;
        margin-top: 3px;
        margin-left: 4px;
        margin-bottom: 8px;
        border-radius: 2px;
        width: 26px;
        height: 26px;
        background: url('../Images/Suhoh/Load.svg') no-repeat;
        background-size: auto;
    }

.radioSselectDataSource {
    margin-left: 10px;
}

/*Save Load Project*/
.radioLeftPanelSaveLoad {
    margin-left: 50px;
}

.LeftPanelSaveLoadProjectTitle {
    float: left;
    margin-left: 15px;
    margin-bottom: 5px;
}

.tbLeftPanelSaveProjectName {
    float: left;
    margin-left: 15px;
}

.btnLeftPanelSaveProjectName {
    float: left;
    margin-left: 10px;
    margin-top: -1px;
    margin-bottom: 10px;
}

.divLeftPanelLoadProject {
    margin-left: 7px;
}

.btnLeftPanelDeleteProjectName {
    float: left;
    margin-left: 70px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.btnLeftPanelLoadProjectName {
    float: left;
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 10px;
}

/*Map Layers*/
.mapLayers {
    margin-left: 10px;
    float: left;
}

    .mapLayers.label {
        font-weight: normal;
    }

    .mapLayers.textBox {
        margin-top: 3px;
    }

    .mapLayers.loadButton {
        float: left;
        margin-top: 7px;
        margin-left: 4px;
        border-radius: 2px;
        width: 26px; /*no effect, background-size controls the size*/
        height: 26px; /*no effect, background-size controls the size*/
        background: url('../Images/DX/add.svg') no-repeat;
        background-size: 20px;
    }

/*Layerlist treeview*/
.layerListTV {
    max-height: 300px;
    max-width: 500px;
    overflow-y: auto;
}

/*Delete user layer*/
.divDeleteUserLayer {
    opacity: 1;
    position: absolute;
    /*top: 2px;*/
    right: 42px;
    z-index: 100;
    /*background-color: yellow;*/
}
.btnDeleteUserLayer {
    background-color: rgba(113,57,143,.5) !important;
    color: white !important;
    font-weight: bold !important;
    border: none;
    box-shadow: 0 0 5px 2px white !important;
    border-radius: 2px;
    padding: 0px !important;
    width: 18px;
    height: 18px;
    /*background: url('../Images/Suhoh/Minimize.svg') no-repeat center;
    background-size: 15px 15px;*/
}

    .btnDeleteUserLayer:hover {
        background-color: rgba(113,57,143,.8) !important;
    }

