
/*Alberta Township System Search*/
.leftPanelATSLabel {
    float: left;
    margin-left: 10px;
    font-weight: normal;
}

.leftPanelSearchSEC {
    font-weight: normal;
    float: left;
    margin-top: 5px;
    margin-left: 44px;
}

.leftPanelSearchTWP {
    font-weight: normal;
    float: left;
    margin-top: 5px;
    margin-left: 37px;
}

.leftPanelSearchRGE {
    font-weight: normal;
    float: left;
    margin-top: 5px;
    margin-left: 37px;
}

.chkLeftPanelATS {
    float: left;
    margin-left: 5px;
}

.cbLeftPanelSearchSEC {
    float: left;
    margin-left: 10px;
}

.cbLeftPanelSearchTWP {
    float: left;
    margin-left: 10px;
}

.cbLeftPanelSearchRGE {
    float: left;
    margin-left: 10px;
}

.cbLeftPanelSearchMER {
    float: left;
    margin-left: 10px;
}

/*Attribute Search*/
.leftPanelAttributeLabel {
    float: left;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-weight: normal;
}

.chkLeftPanelAttributeSearch {
    float: left;
    margin-left: 5px;
}

.cbLeftPanelAttributeSearch1 {
    float: left;
    margin-left: 10px;
}

.cbLeftPanelAttributeSearch2 {
    float: left;
    margin-top: 5px;
    margin-left: 35px;
}

.cbLeftPanelAttributeSearch3 {
    float: left;
    margin-top: 5px;
    margin-left: 35px;
}

.btnLeftPanelAttributeSearch {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

/*Panel Settings*/
.leftPanelSettingsFloatLeft {
    float: left;
    margin-left: 10px;
}

.leftPanelSettings3 {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.btnChangeLayout {
    margin-top: 8px;
    margin-left: 70px;
    margin-bottom: 30px;
}

/*Select Data Source*/
.excelFilename {
    margin-left: 10px;
}

    .excelFilename.label {
        margin-top: 6px;
    }
    .excelFilename.textBox {
        float: left;
    }
    .excelFilename.loadButton {
        margin-left: 4px;
        margin-bottom: 8px;
        border-radius: 2px;
        float: left;
        width: 26px;
        height: 26px;
        background: url('../Images/Suhoh/Load.svg') no-repeat;
        background-size: auto;
    }

/*Save Load Project*/
.LeftPanelSaveLoadProjectTitle {
    float: left;
    margin-left: 15px;
    margin-bottom: 5px;
}

.tbLeftPanelSaveProjectName {
    float: left;
    margin-left: 15px;
}

.btnLeftPanelSaveProjectName {
    float: left;
    margin-left: 10px;
    margin-top: -1px;
}

.divLeftPanelLoadProject {
    margin-left: 15px;
    background-color: yellow;
}