
/*Load Excel files*/
.loadExcel {
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 57px;
    z-index: 2;
}

.loadExcelButton {
    background-color: rgba(0,60,136,.5) !important;
    color: white !important;
    font-weight: bold !important;
    border: none !important;
    box-shadow: 0 0 5px 2px white !important;
    border-radius: 2px;
    width: 26px;
    height: 22px;
    background: url('../Images/DX/adaptive-menu.svg') no-repeat center;
}

/*Buttons*/
.divMapMaximizeButton {
    opacity: 1;
    position: absolute;
    top: 4px;
    right: 91px;
    z-index: 100;
    /*background-color: yellow;*/
}

.btnMapMaximize {
    background-color: rgba(0,60,136,.5) !important;
    /*color: blue !important;*/
    font-weight: bold !important;
    border: none !important;
    box-shadow: 0 0 5px 2px white !important;
    border-radius: 2px;
    padding: 0px !important;
    width: 22px;
    height: 22px;
    background: url('../Images/Suhoh/Maximize.svg') no-repeat center;
}

    .btnMapMaximize:hover {
        background-color: rgba(0,60,136,.7) !important;
    }

.divMapLegendButton {
    opacity: 1;
    position: absolute;
    top: 4px;
    right: 64px;
    z-index: 100;
    /*background-color: yellow;*/
}

.btnMapLegend {
    background-color: rgba(0,60,136,.5) !important;
    color: white !important;
    font-weight: bold !important;
    border: none !important;
    box-shadow: 0 0 5px 2px white !important;
    border-radius: 2px;
    padding: 0px !important;
    width: 22px;
    height: 22px;
    background: url('../Images/Suhoh/Legend.svg') no-repeat center;
}

    .btnMapLegend:hover {
        background-color: rgba(0,60,136,.7) !important;
    }

.divMapPropertyButton {
    opacity: 1;
    position: absolute;
    top: 4px;
    right: 37px;
    z-index: 100;
    /*background-color: yellow;*/
}

.btnMapProperty {
    background-color: rgba(0,60,136,.5) !important;
    color: white !important;
    font-weight: bold !important;
    border: none !important;
    box-shadow: 0 0 5px 2px white !important;
    border-radius: 2px;
    padding: 0px !important;
    width: 22px;
    height: 22px;
    background: url('../Images/Suhoh/Property.svg') no-repeat center;
}

    .btnMapProperty:hover {
        background-color: rgba(0,60,136,.7) !important;
    }

.divMapSettingButton {
    opacity: 1;
    position: absolute;
    top: 4px;
    right: 10px;
    z-index: 100;
    /*background-color: yellow;*/
}

.btnMapClose {
    background-color: rgba(0,60,136,.5) !important;
    color: white !important;
    font-weight: bold !important;
    border: none !important;
    box-shadow: 0 0 5px 2px white !important;
    border-radius: 2px;
    padding: 0px !important;
    width: 22px;
    height: 22px;
}

    .btnMapClose:hover {
        background-color: rgba(0,60,136,.7) !important;
    }
