
.loadExcel {
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 57px;
    z-index: 2;
}

.loadExcelButton {
    background-color: rgba(0,60,136,.5) !important;
    color: white !important;
    font-weight: bold !important;
    border: none !important;
    box-shadow: 0 0 5px 2px white !important;
    border-radius: 2px;
}